<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        
            <h1 class="text-white text-center"> About us</h1>
            <div class="bg-secondary-theme p-5 mt-4 text-theme-primary">
               
                <p>The study, Sahel, The Urban Link: Transforming Rural Economies and Addressing Fragility, 
                    analyzes the economic potential, fragility, and climate risk of cities/towns
                     in Burkina Faso, Chad, Mali, and Niger, with a deeper look at three selected 
                     secondary cities - Kaya, Burkina Faso; Maradi, Niger; and Sikasso, Mali.
                      The study points to the role these urban areas play as economic centers for
                       the surrounding areas, particularly concerning markets and services,
                        also providing opportunities for migrants.</p>
                        <p>The study, Sahel, The Urban Link: Transforming Rural Economies and Addressing Fragility, 
                            analyzes the economic potential, fragility, and climate risk of cities/towns
                             in Burkina Faso, Chad, Mali, and Niger, with a deeper look at three selected 
                             secondary cities - Kaya, Burkina Faso; Maradi, Niger; and Sikasso, Mali.
                              The study points to the role these urban areas play as economic centers for
                               the surrounding areas, particularly concerning markets and services,
                                also providing opportunities for migrants.</p>
                                <p>The study, Sahel, The Urban Link: Transforming Rural Economies and Addressing Fragility, 
                                    analyzes the economic potential, fragility, and climate risk of cities/towns
                                     in Burkina Faso, Chad, Mali, and Niger, with a deeper look at three selected 
                                     secondary cities - Kaya, Burkina Faso; Maradi, Niger; and Sikasso, Mali.
                                      The study points to the role these urban areas play as economic centers for
                                       the surrounding areas, particularly concerning markets and services,
                                        also providing opportunities for migrants.</p>

                                 <div class="text-center">
                                    <button class="btn btn-info btn-sm mt-4 btn-sub"> Back to Home</button>
                                 </div>       
            </div>
       
    </div>
</section>

