<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                
                <img src="https://blogs.worldbank.org/sites/default/files/styles/hero/public/2023-04/blog-drm.png.webp?itok=BZZvS6K_" alt="" class="card-img-top">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-sucess text-center"> Featured </small>
                    <small class="bg-light text-info text-center"> views - 100,256 </small>                    
                    <small class="bg-light text-warning text-center"> LAST UPDATED - JUN 21, 2023</small>

                    <h1 class="mt-3 mb-3"> Secondary cities and towns in the Sahel: Creating places of opportunity </h1>
                    <p>Challenges from droughts and conflicts are on the rise threatening the livelihoods and food 
                        security of a large share of the population, particularly in rural areas. 
                        In search of refuge and opportunity, many are moving to cities, 
                        which are emerging as centers of resilience offering 
                        some glimmer of hope in this difficult environment. Close to five million refugees,
                         asylum-seekers, refugee returnees, internally displaced people (IDP),
                          and IDP returnees are estimated in the Sahel (2022 UNHCR). In Kaya,
                           Burkina Faso, for example, a city of 120,000 (2019), 
                           the population has doubled in the previous two years due to an influx of IDP.
                            The city is a securitized urban area, acting as a “last post/last bastion” between
                             Ouagadougou and the conflict areas in the North, providing a safe haven for many.</p>
                            </div>
            </div>

            <!-- <app-comment-form></app-comment-form> -->
            <!-- <app-comments-list></app-comments-list> -->
        </div>
        <div class="col-md-3">
            <!-- <app-post-card></app-post-card> -->
            <!-- <app-post-card></app-post-card> -->
            <!-- <app-post-card></app-post-card> -->
        </div>
    </div>
</div>