<div class="card">
    <img src="https://blogs.worldbank.org/sites/default/files/styles/hero/public/2023-05/blog-thriving.jpg.webp?itok=hJHAvCTp" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-cente ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

        <h5 class="mt-1"> The transformative power of cities: tackling climate change through green, resilient, and inclusive urban development</h5>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - june 21, 2023</small>
    </div>
</div>
